body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  width: 40%;
  height: 65%;
  background: black;
  display: grid;
  grid-template-columns: auto auto auto;
}

.board > div{
  border: 5px solid red;
}

.board > .grid_1, .board > .grid_2, .board > .grid_3{
  border-top: 0px;
}

.board > .grid_1, .board > .grid_4, .board > .grid_7{
  border-left: 0px;
}

.board > .grid_3, .board > .grid_6, .board > .grid_9{
  border-right: 0px;
}

.board > .grid_7, .board > .grid_8, .board > .grid_9{
  border-bottom: 0px;
}