body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  display: none;
  color: coral;
  font-size: 60px;
  margin: 0;
  margin-bottom: 10px;
}

.grid-container {
  display: none;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  padding: 15px;
}

.grid-container>* {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid brown;
  padding: 10px;
  text-align: center;
  font-size: 110px;
}

.intro-modal {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 15);  
}

.card-game-intro{
  position: absolute;
  z-index: 2;
  background-color: beige;
  width: 40%;
  height: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-name{
  text-align: center;
  font-size: 40px;
}

.players-form{
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  font-size: large;
}

input[type="submit"]{
  height: 2em;
  font-size: larger;
  font-weight: 400;
}